.action {
	background-color: black;
	height: 32px;
	width: 32px;
	font-size: 16px;

	border-radius: 50%;
	position: relative;
}

.action {
	&::after,
	&::before {
		content: '';
		display: block;
		background-color: white;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&::before {
		height: 1em;
		width: 0.2em;
	}

	&::after {
		height: 0.2em;
		width: 1em;
	}
}
