.library {
	grid-column: library-start/library-end;

	display: grid;
	grid-templat-rows: [title-start] 100px [title-end courses-start] repeat(auto-fit, 1fr) [courses-end];
	grid-row-gap: 22px;

	h1 {
		// grid-row: title-start/title-end;
	}

	.course {
		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-template-rows: 1fr 1fr;
		background-color: cornflowerblue;

		header {
			grid-row: 1/2;
			display: flex;
		}

		.arrow {
			grid-row: 1/2;
		}
		.icon {
			grid-row: 1/2;
		}

		.description {
			grid-row: 2/3;
		}
	}
}
