.library {
	grid-column: library-start/library-end;

	display: grid;
	grid-templat-rows: [title-start] 100px [title-end courses-start] repeat(auto-fit, 1fr) [courses-end];
	grid-row-gap: 22px;


	padding: 100px 0 0 100px;
	margin-right: -50px;

	h1 {
		color: $blue;
		font-family: $alegreya;
		font-size: 34px;
		font-weight: bold;
		border-left: 2px solid $blue;
		padding: 20px 40px;
	}

	.course {
		display: grid;
		grid-template-columns: 1fr 45px 58px;
		grid-template-rows: 32px [line-start] 20px [line-end] 1fr;
		align-items: center;

		padding: 12px 0 12px 25px;

		header {
			grid-column: 1/2;
			grid-row: 1/2;
			display: flex;
		}
		.line {
			grid-column: 1/-1;
			grid-row: line-start/line-end;
		}
		.arrow {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		.action {
			// Refactor to action.scss?
			grid-column: 3/4;
			grid-row: 1/2;

			justify-self: center;
		}
		.icon {
			grid-row: 1/2;
		}

		.description {
			grid-column: 1/-1;
			grid-row: 3/4;
		}
	}

	@mixin solid-course {
		background: white;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21);
	}

	.course {
		&:hover,
		&.selected {
			@include solid-course();
		}
		.title {
			color: $grey;
			font-family: $lato;
			font-size: 20px;
			line-height: 22px;
		}
		.check {
			color: $blue;
			padding-left: 16px;
			font-size: 24px;
		}
		.line {
			border-bottom: 1px solid #F2F2F2;
			margin-top: 20px;
			margin-bottom: 24px;
		}
		.description {
			label {
				color: $blue;
				font-family: $alegreya;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
			}
			p {
				color: $grey;
				font-family: $lato;
				font-size: 16px;
			}
		}
	}
}
