.library {
	grid-column: library-start/library-end;

	display: grid;
	grid-templat-rows: [title-start] 100px [title-end courses-start] repeat(auto-fit, 1fr) [courses-end];

	h1 {
		// grid-row: title-start/title-end;
	}

	.course {
		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-template-rows: 1fr 1fr;

		.title {
			grid-row: 1/2;
		}

		.description {
			grid-row: 2/3;
		}
	}
}
