.home {
	display: grid;
	grid-template-columns: [library-start] 1fr 1fr [library-end schedule-start] 1fr [schedule-end];
	grid-templat-rows: 1fr;

	height: 100vh;
	width: 100vw;
}

.library {
	grid-column: library-start/library-end;
	background: cornflowerblue;
}

.schedule {
	grid-column: schedule-start/schedule-end;
	background: crimson;
}
