@import 'variables';
@import 'gradient';
@import 'library';
@import 'arrow';
@import 'schedule';
@import 'progressTracker';
@import 'action';

.home {
	display: grid;
	grid-template-columns: [library-start] 1fr 1fr [schedule-start] 50px [library-end] 1fr [schedule-end];
	grid-templat-rows: 1fr;

	height: 100vh;
	width: 100vw;
}
