@import 'variables';
@import 'library';
@import 'arrow';

.home {
	display: grid;
	grid-template-columns: [library-start] 1fr 1fr [library-end schedule-start] 1fr [schedule-end];
	grid-templat-rows: 1fr;

	height: 100vh;
	width: 100vw;
}

.schedule {
	grid-column: schedule-start/schedule-end;
	position: relative;
	width: 100%;
	height: 100%;
}

.gradient {
	// better as a mixin rather than component?
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(120deg, $purple 0, $light-blue 100%);
	z-index: -10;
}
