.schedule {
	grid-column: schedule-start/schedule-end;
	grid-row: 1/-1;
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: [space-one-start] 1fr [space-one-end title-start] 100px [title-end] repeat(5, 80px) 1fr 76px [progress-end];
	grid-row-gap: 22px;
	align-content: center;
	align-items: center;
	justify-items: center;

	h1 {
		grid-row: title-start/title-end;

		border-left: 2px solid $subtle-grey;

		color: white;
		font-family: $alegreya;
		font-size: 20px;

		@include border-left;
	}

	.course {
		display: grid;
		grid-template-columns: [title-start] 1fr [action-start] 32px [aciton-end space-start] 12px [space-end title-end];
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;

		height: 55px;
		width: 280px;
		background-color: white;
		box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);

		color: $subtle-black;
		font-family: $lato;
		font-size: 16px;

		.title {
			grid-column: title-start/title-end;
			grid-row: 1/-1;
		}

		.action {
			grid-column: action-start/action-end;
			grid-row: 1/-1;
		}
	}
}
