$purple: #6F48CE;
$light-blue: #32CBE8;
$blue: #487BCE;
$grey: #4D4D4D;
$subtle-grey: rgba(255, 255, 255, 0.52);
$subtle-black: #333333;

$alegreya: 'Alegreya';
$mont: 'Montserrat';
$lato: 'Lato';

@mixin border-left {
	border-left: 2px solid $subtle-grey;
	padding: 6px 0 6px 30px;
}
